body {
    margin: 0px;
    font-size: 16px;
}
.fontXXL {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 40px 0px -30px 0px;
}
.fontXL {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 40px 0px 20px 0px;
}
.fontL {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
}
.fontR {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}
.fontS {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    justify-content: space-between;
    background-color: #f1a536;
    border-bottom: 2px solid white;
    padding: 0px 100px;
    position: sticky;
    top: 0;
    z-index: 30;
}
.navbar ul {
    list-style-type: none;
}
footer ul {
    list-style-type: none;
}
li {
    padding: 0px 30px;
    line-height: 30px;
}
a {
    text-decoration: none;
    color: black;
}
li:hover {
    opacity: 50%;
}
.footer {
    justify-content: space-between;
    background-color: #f1a536;
    padding: 30px 100px;
}
.hero-image {
    width: 100%;
    object-fit: cover;
    object-position: 100% 2%;
    height: 570px;
}
.whiteHeading {
    background: white;
    position: absolute;
    padding: 15px 20px;
    bottom: 220px;
}

.everydayCatagories {
    background-color: white;
    padding: 10px 130px 50px 120px;
}
.everydayCatagories img {
    height: 270px;
    width: 375px;
    object-fit: cover;
    padding: 10px 15px;
}

.mobileImages {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}
figure {
    margin: 20px 0px;
}
figcaption {
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.healthyRecipes {
    background-color: #dadfea;
    padding: 10px 130px 80px 120px;
}
.healthyRecipes img {
    height: 210px;
    width: 270px;
    object-fit: cover;
    padding: 10px 15px;
}
.healthyRecipes figcaption {
    background-color: white;
    padding: 15px;
    margin: -15px 15px;
    max-width: 245px;
}

.whereToEat {
    background-color: white;
    padding: 10px 130px 50px 120px;
    justify-content: space-between;
}
.whereToEat img {
    height: 270px;
    width: 375px;
    object-fit: cover;
    border: 5px solid #dadfea;
    margin: 10px;
}
.menuBar {
    display: none; 
    font-size: 30px;
    background-color: #f1a536;
    border: 2px solid black;
    border-radius: 5px;
    opacity: 60%;
    padding: 1px 5px;
}
.hamburger-image {
    width: 100%;
    object-fit: cover;
    object-position: 0% 75%;
    height: 570px;
}
.recipeInfo {
    background-color: #dadfea;
    padding: 20px 117px 30px 117px;
}
.recipeInfoSpecifics {
    display: flex;
    flex-wrap: wrap;
}
.recipeInfoSpecifics p {
    background-color: #dadfea;
    display: flex;
    margin: 20px 200px 0px 0px;
}
#timeMargin {
    margin: 10px 0 -20px 0;
}
.recipeInstructions {
    background-color: white;
    flex-direction: column;
    padding: 50px 117px;
}
.rating {
    width: 20%;
}
.recipeInstructions p {
    background-color: #dadfea;
    font-weight: bold;
    opacity: 60%;
    padding: 30px 200px;
    text-align: center;
}
.Ingredients {
    width: 500px;
}
.flexID {
    display: flex;
    justify-content: center;
}
.Directions {
    width: 300px
}
@media only screen and (max-width: 880px) {
    .mobileNav {
        display: none;
    }
    .menuBar {
        display: block;
    }
    .fontXXL {
        font-size: 30px;
    }
    .fontXL {
        font-size: 25px;
    }
    .fontL {
        font-size: 18px;
    }
    .fontR {
        font-size: 15px;
    }
    figcaption {
        font-size: 15px;
    }
    footer {
        flex-direction: column-reverse;
    }
    footer li {
        line-height: 100%;
    }
    .rating {
        min-width: 30%;
    }
    .recipeInstructions p {
        padding: 20px 50px;
    }
}
@media only screen and (max-width: 1000px) {
    .flexID{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
h3 {
    padding: 0 0 0 70px;
    margin: 40px 0 -10px 0;
}
iframe {
    border: none;
}